.competition{
	display: block;
	padding: 15px;
	background: transparent;
	transition: background 300ms;
	clear: fix;
	margin-bottom: 5px;
	@media (max-width: 767px){
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 20px;
	}
	@nest &:hover{
		background: #ebe3d7;
		text-decoration: none;
		@media (max-width: 767px){
			background: transparent;
		}
	}
	@nest &__thumbnail{
		width: 34.6%;
		float: left;
		padding-right: 17px;
		@nest & img{
			border: 1px solid transparent;
			transition: border-color 300ms;
		}
	}
	@nest &__info{
		float: left;
		width: 65.4%;
	}
	@nest &__meta{
		font-size: 12px;
		color: #8a7a61;
		@nest & span{
			font-weight: 700;
			color: var(--mainColor);
		}
		@media (max-width: 767px){
			font-size: 9px;
		}
	}
	@nest &__title{
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 3px;
		@media (max-width: 767px){
			font-size: 13.3px;
			margin-top: 3px;
		}
	}
	@nest &__desc{
		font-family: var(--tFont);
		font-size: 12px;
		line-height: 14px;
		@media (max-width: 767px){
			font-size: 10.6px;
		}
	}
	@nest &:hover{
		@nest & .competition__thumbnail{
			@nest & img{
				border-color: var(--mainColor);
			}
		}
	}
}