		</div>
		<!-- end content -->
		<!-- begin footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<span class="footer__logo">
							<img src="assets/img/logo_footer.png" alt="Publius">
						</span>
						<div class="footer__copy">© Publius 2015. Все права защищены.</div>
					</div>
					<!-- begin footer__side -->
					<div class="col-sm-8 footer__side footer__side_right">
						<ul class="nav-list nav-list_footer">
							<li class="nav-list__item"><a href="#">Главная</a></li>
							<li class="nav-list__item"><a href="#">Книги</a></li>
							<li class="nav-list__item"><a href="#">Авторы</a></li>
							<li class="nav-list__item"><a href="#">Конкурсы</a></li>
							<li class="nav-list__item"><a href="#">Магазин</a></li>
							<li class="nav-list__item"><a href="#">Полки</a></li>
						</ul>
						<ul class="social footer__social">
							<li class="social__item social__item_twitter"><a href="#"></a></li>
							<li class="social__item social__item_facebook"><a href="#"></a></li>
							<li class="social__item social__item_vkontakte"><a href="#"></a></li>
						</ul>
					</div>
					<!-- end footer__side -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</footer>
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<script src="assets/js/main.js"></script>
</body>
</html>