		</div>
		<!-- end content -->
	</div>
	<!-- end wrapper -->
	<div class="modal fade" id="modal-recovery">
		<div class="modal-dialog modal-dialog_medium">
			<div class="modal-content">
				<div class="modal__title">загляните на почту</div>
				<p class="modal__desc">На указанный вами email отпарвлено письмо с инструкциями по восстановлению пароля</p>
				<button type="button" class="btn modal__btn" data-dismiss="modal" aria-hidden="true">Ок</button> 
			</div>
		</div>
	</div>
	<script src="assets/js/main.js"></script>
</body>
</html>