<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Publius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<!-- begin wrapper -->
	<div class="wrapper">
		<!-- begin preloadre -->
		<div class="preloader" id="preloader">
			<div class="spinner">
				<div class="spinner__bounce1"></div>
				<div class="spinner__bounce2"></div>
			</div>
		</div>
		<!-- end preloader -->
		<!-- begin content -->
		<div class="content content_forfix">
		<!-- begin header -->
		<header class="header header_fixed">
			<!-- begin container-fluid_header -->
			<div class="container-fluid container-fluid_header">
				<!-- begin header__side -->
				<div class="header__side">
					<a href="index.html" class="logo logo_mini header__logo" title="На Главную">
						<img src="assets/img/logo.png" alt="Publius">
					</a>
					<a href="index.html" class="header__back mobile">Вход</a>
					<button class="burger header__burger" type="button" data-nav="main-nav">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav header__nav" id="main-nav">
						<ul class="nav-list">
							<li class="nav-list__item"><a href="#">Книги</a></li>
							<li class="nav-list__item"><a href="#">Авторы</a></li>
							<li class="nav-list__item"><a href="#">Конкурсы</a></li>
							<li class="nav-list__item"><a href="#">Магазин</a></li>
							<li class="nav-list__item"><a href="#">Полки</a></li>
						</ul>
					</nav>
				</div>
				<!-- end header__side -->
				<!-- begin header__side -->
				<div class="header__side header__side_right">
					<!-- begin search-wrapper -->
					<div class="search-wrapper header__search-wrapper">
						<form class="search search_mini">
							<a href="#" class="search__link" title="Расширенный поиск">Расширенный поиск</a>
							<input type="text" placeholder="Искать" class="search__field" name="search">
							<button type="submit" class="search__button"></button>
						</form>
						<button class="btn search-wrapper__btn" type="button">загрузить<br>произведение</button>
					</div>
					<!-- end search-wrapper -->
				</div>
				<!-- end header__side -->
			</div>
			<!-- end container-fluid_header -->
		</header>
		<!-- end header -->