.page{
	@nest &-title{
		background: #faf4eb;
		color: #8a7a61;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 50px;
		margin-bottom: 45px;
		@nest &_center{
			text-align: center;
		}
	}
}

.rc-anchor{
	border: 0 !important;
}